/*reset css*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
}
/*
1. từ ngoài vào trong
2. từ trên xuống dưới
3. tổng quan đến chi tiết
*/
/*
1. vị trí
2. kích thước
3. màu sắc
4. kiểu dáng
*/
#main {

}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: black;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: white;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav{
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: black;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: black;
    padding: 0 12px;
    line-height: 38px;
}

#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover {
    background-color: red;
    cursor: pointer;
}

#header .search-icon {
    color: white;
    font-size: 20px;
    line-height: 46px;
}

#slider {
    margin-top: 46px;
    min-height: 500px;
    background-color: #ccc;
}

#content {

}

#footer {

}
